In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame({'x':[4,4,4],'y':[2,2,5]})

In [0]:
df

   x  y
0  4  2
1  4  2
2  4  5

So you want to calculate x-y and replace negative by zero. You can do it using apply and defining function

In [0]:
def get_diff(row):
  if row['x'] < row['y']:
    return 0
  return row['x'] - row['y']

In [0]:
df['diff'] = df.apply(get_diff,axis=1)

In [0]:
df

   x  y  diff
0  4  2     2
1  4  2     2
2  4  5     0

But you should avoid custom functions and do everything native way. And the key to do it is to do it step by step.

In [0]:
df = pd.DataFrame({'x':[4,4,4],'y':[2,2,5]})

At first just get the diffirence

In [0]:
df['x-y'] = df['x'] - df['y']

In [0]:
df

   x  y  x-y
0  4  2    2
1  4  2    2
2  4  5   -1

Second you want to get rid of negative. So let's google 'pandas replace negative values with 0' and find https://stackoverflow.com/questions/27759084/how-to-replace-negative-numbers-in-pandas-data-frame-by-zero . And among tons of methods choose one which you like. I like this one

In [0]:
df['x-y'].clip(lower=0)

0    2
1    2
2    0
Name: x-y, dtype: int64

In [0]:
df['x-y_clipped'] = df['x-y'].clip(lower=0)

In [0]:
df

   x  y  x-y  x-y_clipped
0  4  2    2            2
1  4  2    2            2
2  4  5   -1            0

You can combine it in one line if you want

In [0]:
df['diff'] = (df['x'] - df['y']).clip(lower=0)

In [0]:
df

   x  y  x-y  x-y_clipped  diff
0  4  2    2            2     2
1  4  2    2            2     2
2  4  5   -1            0     0

Step by step is much more simple and easy to debug. Native step by step is a bro, custom function and apply is not a bro)).